* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    min-height: 100vh;
}

.form-container {
    flex: 1;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.form-content {
    width: 100%;
    max-width: 450px;
}

h1 {
    color:  #0B132B;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.subtitle {
    color: #666;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #e1e1e1;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #8B5E34;
}

small {
    display: block;
    margin-top: 0.5rem;
    color: #666;
    font-size: 0.8rem;
}

.btn-cadastrar {
    width: 100%;
    padding: 1rem;
    background-color: #8B5E34;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-cadastrar:hover {
    background-color: #6E4526;
}

.login-link {
    text-align: center;
    margin-top: 1.5rem;
    color: #666;
}

.login-link a {
    color: #2b2528;
    text-decoration: none;
    font-weight: 500;
}

.login-link a:hover {
    text-decoration: underline;
}

.image-container {
    flex: 1;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   background-color: #908b7a;
}

.image-content {
    position: relative;
    color: white;
    text-align: center;
    max-width: 500px;
}

.image-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.image-content p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Estilos para o container do input de senha */
.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input-container input {
    padding-right: 40px; /* Espaço para o ícone */
}

.toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

.toggle-password:hover {
    color: #8B5E34;
}

.toggle-password i {
    font-size: 1.2rem;
}